rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function authed() { return request.auth != null; }

    match /posts/{userId}/{fileName} {
      allow read: if true;
      allow write: if authed() && request.auth.uid == userId;
    }
  }
}
